@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    background-color: #0f172a;
    overflow: hidden;
}

h1,
h2,
h3,
.fantasy-font {
    font-family: 'Cinzel', serif;
}

.card-3d {
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.perspective-1000 {
    perspective: 1000px;
}

/* Scrollbar Utility */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #0f172a;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #475569;
}